{% for step in steps %}

<latex>

    s=\frac{a_{<%step.first_index_i + 1%><%step.first_index_j + 1%>}}
        {\sqrt{a_{<%step.first_index_i + 1%><%step.first_index_j + 1%>}^2+a_{<%step.second_index_i + 1%><%step.second_index_j + 1%>}^2}}=

    \frac{<%step.first_value%>}{\sqrt{<%step.first_value%>^2+<%step.second_value%>^2}}=<%step.s%>

</latex>
<br/>
<latex >

    c=\frac{a_{<%step.second_index_i + 1%><%step.second_index_j + 1%>}}
    {\sqrt{a_{<%step.first_index_i + 1%><%step.first_index_j + 1%>}^2+a_{<%step.second_index_i + 1%><%step.second_index_j + 1%>}^2}}=

    \frac{<%step.second_value%>}{\sqrt{<%step.first_value%>^2+<%step.second_value%>^2}}=<%step.c%>

</latex>

<latex font-size="14">

   R_{<%step.index + 1%>} = \begin{pmatrix}
    {% for row in step.givens_matrix_transpose  %}
    {% for element in row %}
    <%element%> {% if (loop.last) %} {% else %} & {% endif %}
    {% endfor %}
    \\
    {% endfor %}
    \end{pmatrix} *
    \begin{pmatrix}
    {% for row in step.initial_matrix  %}
    {% for element in row %}
    <%element%> {% if (loop.last) %} {% else %} & {% endif %}
    {% endfor %}
    \\
    {% endfor %}
    \end{pmatrix} *
    \\
    \begin{pmatrix}
    {% for row in step.givens_matrix  %}
    {% for element in row %}
    <%element%> {% if (loop.last) %} {% else %} & {% endif %}
    {% endfor %}
    \\
    {% endfor %}
    \end{pmatrix} =
    \begin{pmatrix}
    {% for row in step.result_matrix  %}
    {% for element in row %}
    <%element%> {% if (loop.last) %} {% else %} & {% endif %}
    {% endfor %}
    \\
    {% endfor %}
    \end{pmatrix}

</latex>


{% endfor %}